<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="SSPEntidades" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=SSPE;PASSWORD=QUADRO;PERSIST SECURITY INFO=True;USER ID=SSP&quot;" providerName="System.Data.EntityClient" />
    <add name="SSPEntidadesSecretria" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=SSPEPRUEBAS;PASSWORD=QUADRO;USER ID=SYS&quot;" providerName="System.Data.EntityClient" />
    <add name="SSPEntidadesQUADRO" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=SSPE_QUADRO;PASSWORD=QUADRO;PERSIST SECURITY INFO=True;USER ID=SSP&quot;" providerName="System.Data.EntityClient" />
    <add name="EntidadInterconexion" connectionString="metadata=res://*/ModeloInterconexion.csdl|res://*/ModeloInterconexion.ssdl|res://*/ModeloInterconexion.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.3.205.101:1521/nmjpintdev;DBA PRIVILEGE=SYSDBA;PASSWORD=123;PERSIST SECURITY INFO=True;USER ID=SYS&quot;" providerName="System.Data.EntityClient" />

    <!--<add name="SSPEntidades" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=SSPE_QUADRO;PASSWORD=QUADRO;PERSIST SECURITY INFO=True;USER ID=SSP&quot;" providerName="System.Data.EntityClient"/>
    <add name="SSPEntidadesQUADRO" connectionString="metadata=res://*/Modelo.csdl|res://*/Modelo.ssdl|res://*/Modelo.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=SSPE_QUADRO;PASSWORD=QUADRO;PERSIST SECURITY INFO=True;USER ID=SSP&quot;" providerName="System.Data.EntityClient" />
    <add name="EntidadInterconexion" connectionString="metadata=res://*/ModeloInterconexion.csdl|res://*/ModeloInterconexion.ssdl|res://*/ModeloInterconexion.msl;provider=Oracle.ManagedDataAccess.Client;provider connection string=&quot;DATA SOURCE=10.3.205.101:1521/nmjpintdev;DBA PRIVILEGE=SYSDBA;PASSWORD=123;PERSIST SECURITY INFO=True;USER ID=SYS&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="DedoLogin" value="1" />
    <add key="CentroLogin" value="-1" />
    <add key="EquipoArea" value="-1" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DefaultCulture" value="es-MX" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <!--<providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>-->
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
     <dependentAssembly>
        <assemblyIdentity name="MahApps.Metro" publicKeyToken="f4fb5a3c4d1e5b4f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.1.3.0" newVersion="1.1.3.0" />
      </dependentAssembly>
    
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="dpersonSoap" />
        <binding name="http" />
        <binding name="http1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.3.205.126/dperson/dperson.asmx"
        binding="basicHttpBinding" bindingConfiguration="dpersonSoap"
        contract="MenoresHuellasService.dpersonSoap" name="dpersonSoap" />
      <endpoint address="http://10.3.20.122:81/WCF_BiometricoService/BiometricoService.svc"
        binding="basicHttpBinding" bindingConfiguration="http" contract="BiometricoServiceReference.IBiometricoService"
        name="http" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehaviour">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
    <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="ControlPenalesListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="application.log"></add>
        <remove name="Default"></remove>
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>